:root {
  --font: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --white: #fff;
  --base-text-color: #1a1918;
  --border-color: #dfdcd8;
  --hover-color: #f2eee8;
  --input-font-color: rgba(82, 74, 62, 0.82);
  --button-blue-background: #0061fe;
  --button-blue-background-hover: #004dc7;
  --button-blue-background-active: #0050d0;
  --button-white-color: #f7f5f2;
  --button-simple-background: #9b64001a;
  --button-simple-background-hover: #9b640026;
  --button-simple-background-active: #9b640033;
  --file-background: var(--white);
  --file-background-hover: #f7f5f2;
}
