.wrapper {
  background-color: var(--button-blue-background);
  color: var(--button-white-color);
  font-size: 16px;
  height: 48px;

  &:hover {
    background-color: var(--button-blue-background-hover);
  }

  &:active {
    background-color: var(--button-blue-background-active);
  }
}

.load {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.simple {
  height: 32px;
  font-size: 14px;
  color: var(--base-text-color);
  background-color: var(--button-simple-background);

  &:hover {
    background-color: var(--button-simple-background-hover);
  }

  &:active {
    background-color: var(--button-simple-background-active);
  }
}

.primary {
  height: 32px;
  font-size: 14px;
}
