.root {
  max-width: 1040px;
  margin: 0 auto;
  padding: 16px;
}

.title {
  font-size: 16px;
  font-weight: 400;
  color: var(--base-text-color);
  margin-bottom: 15px;
}

.toolbar {
  margin-bottom: 25px;
}

.buttonbar {
  display: flex;
  gap: 15px;
}
